.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select:none;
  user-drag: none;
  -webkit-user-drag: none;
}

.key {
  display: inline-block;
  position: relative;
  margin: 0 1px;
  width: 42px;
  /*max-width: 48px;*/
  user-select:none;
  cursor: default;
  user-drag: none;
  -webkit-user-drag: none;
}

.green { background-color: #00cc00; }

.fade-background-white {
  transition: background-color 0.5s ease;
  background-color: red;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.key .white-key {
  /*
  background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: linear-gradient(-30deg, #f8f8f8, #ffffff);*/
  background: #ffffff;
  box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
  display: block;
  /*height: 270px;*/
  height: 210px;
}

#c-octave{
  font-size: 18px;
  color: #404040;
  position: absolute;
  margin: -20px 0 0 3px;
  pointer-events: none;
}

.key .black-key {
  content: "";
  box-shadow: inset 0 1px 0px #000, inset 0 -1px 0px #000, inset 1px 0px 0px #000, inset -1px 0px 0px #000, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #000, inset 1px 0px 0px #000, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
  /*
  background: -webkit-linear-gradient(-20deg, #222222, #000000, #222222);
  background: -moz-linear-gradient(-20deg, #222222, #000000, #222222);
  background: -o-linear-gradient(-20Suggesting chords from your melody notedeg, #222222, #000000, #222222);
  background: linear-gradient(-20deg, #222222, #000000, #222222);*/
  background: #000;
  border-width: 1px 3px 8px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  /*height: 140px;*/
  height: 120px;
  position: absolute;
  top: 0px;
  right: -30%;
  width: 50%;
  z-index: 3;
  font-size: 30px;
}
.key span.active{
  background-color: #d3d3d3;
}
#my-piano{
  resize: both;
  width: 100%;
  height: 100%;
  margin: 0;
  /*background-color:#000;*/
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
}
#my-piano ul{
  height: 230px;
  width: 100%;
  margin-top: 10px;
  white-space: nowrap;
  padding: 0;
}
#my-piano ul li{
  display: inline-block;
}
#piano-top{
  height: 7px;
  width: 100%;
  position: absolute;
  background-color: black;
  left:0;
  right: 0;
  bottom: 237px
  background-color: hsl(0, 0%, 15%);
  border-bottom: 3px solid hsl(0, 100%, 37%);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#split-point {
    font-size: 18px;
    /*color: hsl(0, 0%, 25%);*/
    background-color: green;
    position: absolute;
    border-radius: 50%;
    margin: -20px 0 0 -10px;
    /*bottom: 250px;*/
    bottom: 190px;
    z-index: 15;
}
